:root {
  --white: white;
  --black: black;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

a {
  color: #333;
  text-decoration: underline;
}

.body {
  display: block;
}

.logo {
  text-align: center;
  letter-spacing: 1px;
  border: 1px #000;
  padding-top: 100px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 46px;
  line-height: 46px;
}

.line {
  object-fit: fill;
  border-top: 1px solid #d8d8d8;
  justify-content: center;
  align-items: center;
  width: 30%;
  display: flex;
  position: absolute;
}

.section {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact {
  text-align: center;
  letter-spacing: 1px;
  align-self: center;
  margin-top: 6px;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.section-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.link {
  text-decoration: underline;
}

.hero-heading-left {
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px 10px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  position: relative;
}

.container {
  object-fit: fill;
  border-bottom: 1px #000;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans, sans-serif;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 0;
  padding-left: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 46px;
  font-weight: 700;
}

.footer-light {
  text-indent: 1px;
  border-bottom: 1px #e4ebf3;
  padding: 10px;
  position: relative;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  border-bottom: 1px #000;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  letter-spacing: 1px;
  text-indent: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.content-link {
  display: block;
}

.margin-bottom-24px-copy {
  margin-bottom: 0;
  padding-left: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-left {
    padding: 60px 15px;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding-left: 6px;
    padding-right: 5px;
  }

  .logo {
    white-space: break-spaces;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }
}


